@import '../../includes/variables';

.mb-menu{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 0%;
    height: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    *{
        transition: .3s;
    }
    .fone{
        width: 15%;
        height: 100%;
        transition: .3s;
        background: rgba(255,255,255,.7);
    }
    .menu-content{
        position: relative;
        width: 85%;
        height: 100%;
        background-color: $gray;
        overflow-y: auto;
        .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 .7em;
            height: 50px;
            background-color: $primary-color;
            >span{
                font-size: 20px;
                font-weight: 600;
                color: $white;
            }
            >i{
                opacity: .5;
                cursor: pointer;
                font-size: 25px;
                &:active{
                    opacity: 1;
                }
            }
        }
    }

}

.open{
    width: 100%;
    opacity: 1;
    pointer-events: all;
}